<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Shop</title>
		<link rel="stylesheet" href="/css/style.css" />
		<script
			src="https://kit.fontawesome.com/cd9e976117.js"
			crossorigin="anonymous"
		></script>
	</head>
	<body>
		<nav id="nav">
			<a
				style="
					font-size: 2rem;
					font-weight: 500;
					margin: 0;
					align-self: center;
				"
				class="link"
				href="/"
			>
				<div>Store</div>
			</a>
			<div style="align-self: center">
				<a href="/addProduct"
					><button class="black-btn">Add Product</button></a
				>
			</div>

			<span style="align-self: center">
				<i class="fa-solid fa-circle-user fa-xl"></i>
				<span style="padding: 0 0.5rem"></span>
				<i class="fa-solid fa-cart-shopping"></i>
				0
			</span>
		</nav>
		<p style="font-weight: 500; margin: 1rem">/shop</p>

		<section id="shop-img-section">
			<% products.forEach((product) => { %>
			<div style="display: flex; flex-direction: column">
				<img
					style="margin: auto"
					loading="lazy"
					class="product-img"
					src="<%= product.image %>"
					alt=""
				/>
				<p style="text-align: center; margin: 0"><%= product.name %></p>
				<p style="text-align: center; margin: 0">
					Rs. <%= product.price %>/- <% if(product.originalPrice) { %>
					<span
						style="
							text-decoration: line-through;
							font-size: 0.8rem;
							color: gray;
						"
					>
						Rs. <%= product.originalPrice %>
					</span>
					<% } %>
				</p>
				<p style="text-align: center; margin: 0">
					<%= product.category %>
				</p>
			</div>
			<% }) %>
		</section>
	</body>
</html>
<!-- add size field -->
