<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Shop</title>
		<link rel="stylesheet" href="/css/style.css" />
		<script
			src="https://kit.fontawesome.com/cd9e976117.js"
			crossorigin="anonymous"
		></script>
	</head>
	<body>
		<nav id="nav">
			<div class="nav-links-div">
				<a class="link" href="/">
					<div
						style="font-size: 2rem; font-weight: 500; margin: 0"
						class="paragraph"
					>
						Store
					</div>
				</a>
				<a
					title="Add Product"
					style="align-self: center"
					class="link"
					href="/addProduct"
				>
					Add
				</a>
				<a
					title="about"
					style="align-self: center"
					class="link"
					href="/about"
				>
					<span>About</span>
				</a>
				<a
					title="contact"
					style="align-self: center"
					class="link"
					href="/contact"
				>
					<span>Contact</span>
				</a>
			</div>

			<span style="align-self: center">
				<i class="fa-solid fa-circle-user fa-xl"></i>
				<span style="padding: 0 0.5rem"></span>
				<i class="fa-solid fa-cart-shopping"></i>
				0
			</span>
		</nav>
		<section id="shop-img-section">
			<% products.forEach((product) => { %>
			<div style="display: flex; flex-direction: column">
				<img
					style="margin: auto"
					loading="lazy"
					class="product-img"
					src="<%= product.image %>"
					alt=""
				/>
				<p style="text-align: center; margin-bottom: 0">
					<%= product.name %>
				</p>
				<p style="text-align: center; margin-bottom: 0">
					Rs. <%= product.price %>/- <% if(product.originalPrice) { %>
					<span style="text-decoration: line-through">
						Rs. <%= product.originalPrice %>
					</span>
					<% } %>
				</p>
				<p style="text-align: center; margin-bottom: 0">
					<%= product.description %>
				</p>
			</div>
			<% }) %>
		</section>
	</body>
</html>
<!-- add size field -->
